.heatmap__col {
  height: 300px;
}
.heatmap__excel-img {
  // height: 300px;
}
.heatmap__excel-json {
  height: 230px;
  overflow: scroll;
}
.ant-card-head-title {
  font-size: 14px;
  padding: 6px 0;
}
.ant-card-body {
  padding: 12px;
}
pre {
  font-size: 12px
}
.heatmap__chart {
  width:100%;
}